<div class="row">
    <div th:each="p : ${items}" class="col-6 col-md-3 mb-4">
        <div class="product-item shadow-sm border p-2 text-center h-100">
            <img th:src="@{|/images/${p.image}|}" class="img-fluid mb-2" 
                 style="height: 150px; object-fit: contain;" alt="Image">
            <div class="small text-muted">ID: [[${p.id}]]</div>
            <div class="fw-bold text-truncate" th:text="${p.name}">Tên SP</div>
            <div class="text-danger fw-bold">
                [[${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')}]] ₫
            </div>
        </div>
    </div>
</div>