<div class="card">
    <div class="card-header">QUÊN MẬT KHẨU</div>
    <div class="card-body">
        <div th:if="${message != null}" class="alert alert-success">[[${message}]]</div>
        
        <p>Nhập email hoặc tên đăng nhập để lấy lại mật khẩu:</p>
        <form action="/account/forgot-password" method="post">
            <div class="mb-3">
                <label>Email / Username</label>
                <input name="email" class="form-control" placeholder="Nhập email hoặc username..." required>
            </div>
            <button class="btn btn-primary">Gửi yêu cầu</button>
        </form>
    </div>
</div>